.path-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.planet, .comet {
    position: absolute;
    top: 0;
    left: 0;
}